.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  padding-top: 20px;
  margin: 0 auto;
}

.gameInfo {
  display: grid;
  justify-items: center;
  min-width: 300px;
}

.status {
  width: 180px;
  height: 36px;
  text-align: center;
  vertical-align: bottom;
}

.button {
  display: table;
  list-style-position: inside;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #929292;
  border-radius: 24px;
  background-color: #929292;
  color: #f4f5f7;
  font-size: 18px;
}

@media (max-width: 800px) {
  .game {
    flex-direction: column;
  }

  .gameInfo {
    margin-top: 16px;
  }
}
